* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'open sans';
}

/* Estilos del encabezado */
.header {
    display: flex;
    justify-content: space-between; /* Alinea los elementos al principio y al final del contenedor */
    background-color: white;
    color: #fff;
    padding: 10px;
    align-items: center;
}
.loader {
  
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333333;
    transition: opacity 3.75s, visibility 0.75s;
  }
  
  .loader--hidden {
    
    opacity: 0;
    visibility: hidden;
  }
  
  .loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #009578;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
  }
  
  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }
  
/*logo*/
.logo {
display: flex;
align-items: center;
margin-right: 10px;
}

.logo img {
width: 10px;
height: auto;
margin-right: 10px;
}

.logo h1 {
font-size: 24px;
margin: 0;
color: red;
transition: color 0.3s, transform 0.3s, opacity 0.3s;
}

.logo h1:hover {
color:green; /* Cambia el color al pasar el cursor */
transform: scale(1.1); /* Escala el título al 110% de su tamaño original */
opacity: 0.8; /* Reduce la opacidad al 80% */
}


/* Estilos para el menú de navegación */

nav{
padding: 10px 0;
display: flex;
justify-content: center; /* Alinea el contenido en el lado derecho */
align-items: center;
transition: background-color 0.3s;

}

ul {
list-style-type: none;
margin: 0;
padding: 0;
display: flex; /* Muestra los elementos en línea */
}

.menu li {
margin-right: 20px;
position: relative;
transition: transform 0.3s;
}


.menu a {
text-decoration: none;
color: black;
font-weight: bold;
padding: 5px 0;
display: inline-block;
position: relative;
transition: color 0.3s;
font-family: "Poppins", sans-serif
}

.menu a::before {
content: "";
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 3px;
background-color: #F9A392;
transform: scaleX(0);
transform-origin: right;
transition: transform 0.3s;
}

.menu li:hover {
transform: translateY(-3px);
}

.menu a:hover {
color: #F9A392;
}

.menu li:hover a::before {
transform: scaleX(1);
transform-origin: left;
}

/* Estilos para el encabezado con imagen y animación */
/* Estilos para el menú principal */
.menu ul {
    list-style: none;
    padding: 0;
}

.menu ul li {
    display: inline;
    margin: 0 10px; /* Agrega margen entre los elementos del menú */
}

.menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: inline-block;
    padding: 10px 15px;
}

/* Estilos para el menú desplegable */
.submenu {
    position: relative;
    display: inline-block;
    margin: 0 10px;
}

.submenu a {
    cursor: pointer;
}

.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
}

.sub-menu li {
    display: block;
    margin: 0;
}

.sub-menu a {
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
    display: block;
    white-space: nowrap;
}

/* Mostrar el submenú al pasar el cursor sobre el elemento del menú */
.submenu:hover .sub-menu {
    display: block;
}

.header img {
width: 100px; /* Ajusta el tamaño del logotipo según tus necesidades */
height: auto;
margin-right: 10px; /* Agrega espacio entre la imagen y el título */
transition: transform 0.3s; /* Aplica una animación suave a la imagen al pasar el cursor sobre ella */
}

/* Aplica la transformación cuando se pasa el cursor sobre la imagen */
.header img:hover {
transform: scale(1.1); /* Escala la imagen al 110% del tamaño original */
}



/* Estilos para la galería de imágenes */


.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */

header {
    width: 100%;
    height: 600px;
    background: blue;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(46, 95%, 50%, 0.342), hsla(0, 45%, 52%, 0.664)), url(/imagenes/botica.jpeg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(56, 95%, 50%, 0.459), hsla(0, 88%, 46%, 0.664)), url(/imagenes/botica.jpeg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color:#fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* About us */

main .sobre-nosotros{
    padding: 30px 0 60px 0;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 48%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/* Galeria */


.portafolio{
    background: #f2f2f2;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273,91%,27%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #fff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

/* Clients */

.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background: #4d0686;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: #fff;
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}

/*  Our team */

.about-services{
    background: #f2f2f2;
    padding-bottom: 30px;
}


.servicio-cont{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 28%;
    text-align: center;
}

.servicio-ind img{
    width: 90%;
}

.servicio-ind h3{
    margin: 10px 0;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}

/* footer */

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

@media screen and (max-width:900px){
    header{
        background-position: center;
    }

    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos{
        width: 90%;
    }

    .imagen-about-us{
        width: 90%;
    }

    /* Galeria */

    .imagen-port{
        width: 44%;
    }

    /* Clientes */

    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card{
        width: 90%;
    }

    .cards .card:first-child{
        margin-bottom: 30px;
    }

    /* servicios */

    .servicio-cont{
        justify-content: center;
        flex-direction: column;
    }

    .servicio-ind{
        width: 100%;
        text-align: center;
    }

    .servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
        margin-bottom: 60px;
    }

    .servicio-ind img{
        width: 90%;
    }
}

@media screen and (max-width:500px){
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav > a{
        margin-right: 5px;
    }

    .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    }

    /* ABOUT US */

    .imagen-about-us{
        margin-bottom: 60px;
        width: 99%;
    }

    .sobre-nosotros .contenido-textos{
        width: 95%;
    }

    /* Galeria */

    .imagen-port{
        width: 95%;
    }

    /* Clients */

    .cards .card{
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards .card img{
        width: 90px;
        height: 90px;
    }

    /* Footer */

    .contenedor-footer{
        flex-direction: column;
        border: none;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4{
        border: none;
    }

    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 20px;
    }
}